<div th:fragment="signUpForm">
	<form class="form-inline align-items-center" action="#" th:action="@{/signUpForm}" method="GET">
		<input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email" name="email">
		<input class="form-control mr-sm-2" type="text" placeholder="Name" aria-label="Name" name="name">
		<input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password" name="password">
		<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Sign Up</button>
	</form>
</div>
	